[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.120.2",
    "numpy>=2.3.4",
    "pandas>=2.3.3",
    "starlette>=0.49.1",
    "uvicorn>=0.38.0",
]
